Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64409/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64409/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64409/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckNickName_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNickName" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckNickName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckNickNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SignUp_NewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp_NewUser" />
  </wsdl:message>
  <wsdl:message name="IService1_SignUp_NewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUp_NewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LogUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LogUser" />
  </wsdl:message>
  <wsdl:message name="IService1_LogUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ForgotPass_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPass" />
  </wsdl:message>
  <wsdl:message name="IService1_ForgotPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPassResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUsers" message="tns:IService1_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUsersResponse" message="tns:IService1_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckNickName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckNickName" message="tns:IService1_CheckNickName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckNickNameResponse" message="tns:IService1_CheckNickName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp_NewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SignUp_NewUser" message="tns:IService1_SignUp_NewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SignUp_NewUserResponse" message="tns:IService1_SignUp_NewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckAccount" message="tns:IService1_CheckAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckAccountResponse" message="tns:IService1_CheckAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogUser" message="tns:IService1_LogUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogUserResponse" message="tns:IService1_LogUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ForgotPass" message="tns:IService1_ForgotPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ForgotPassResponse" message="tns:IService1_ForgotPass_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckNickName">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckNickName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp_NewUser">
      <soap:operation soapAction="http://tempuri.org/IService1/SignUp_NewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAccount">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogUser">
      <soap:operation soapAction="http://tempuri.org/IService1/LogUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPass">
      <soap:operation soapAction="http://tempuri.org/IService1/ForgotPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64409/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>