Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64409/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64409/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64409/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import schemaLocation="http://localhost:64409/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessages" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLog" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckNickName_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNickName" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckNickName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckNickNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SignUp_NewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp_NewUser" />
  </wsdl:message>
  <wsdl:message name="IService1_SignUp_NewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUp_NewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ForgotPass_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPass" />
  </wsdl:message>
  <wsdl:message name="IService1_ForgotPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetUserIsOffline_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserIsOffline" />
  </wsdl:message>
  <wsdl:message name="IService1_SetUserIsOffline_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserIsOfflineResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetUserIsOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserIsOnline" />
  </wsdl:message>
  <wsdl:message name="IService1_SetUserIsOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserIsOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MyUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:MyUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_MyUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:MyUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ToUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:ToUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_ToUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CanCreateAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:CanCreateAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_CanCreateAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanCreateAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetToUsersId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToUsersId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetToUsersId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToUsersIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMyUsersId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyUsersId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMyUsersId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyUsersIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTimeMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeMessages" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTimeMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LogUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LogUser" />
  </wsdl:message>
  <wsdl:message name="IService1_LogUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUsers" message="tns:IService1_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUsersResponse" message="tns:IService1_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMessages" message="tns:IService1_GetAllMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMessagesResponse" message="tns:IService1_GetAllMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserLog" message="tns:IService1_GetUserLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserLogResponse" message="tns:IService1_GetUserLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckNickName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckNickName" message="tns:IService1_CheckNickName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckNickNameResponse" message="tns:IService1_CheckNickName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp_NewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SignUp_NewUser" message="tns:IService1_SignUp_NewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SignUp_NewUserResponse" message="tns:IService1_SignUp_NewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckAccount" message="tns:IService1_CheckAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckAccountResponse" message="tns:IService1_CheckAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ForgotPass" message="tns:IService1_ForgotPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ForgotPassResponse" message="tns:IService1_ForgotPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserIsOffline">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetUserIsOffline" message="tns:IService1_SetUserIsOffline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetUserIsOfflineResponse" message="tns:IService1_SetUserIsOffline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserIsOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetUserIsOnline" message="tns:IService1_SetUserIsOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetUserIsOnlineResponse" message="tns:IService1_SetUserIsOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MyUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MyUserId" message="tns:IService1_MyUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MyUserIdResponse" message="tns:IService1_MyUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ToUserId" message="tns:IService1_ToUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ToUserIdResponse" message="tns:IService1_ToUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateMessage" message="tns:IService1_CreateMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateMessageResponse" message="tns:IService1_CreateMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanCreateAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CanCreateAdmin" message="tns:IService1_CanCreateAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CanCreateAdminResponse" message="tns:IService1_CanCreateAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAdmin" message="tns:IService1_CreateAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAdminResponse" message="tns:IService1_CreateAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToUsersId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetToUsersId" message="tns:IService1_GetToUsersId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetToUsersIdResponse" message="tns:IService1_GetToUsersId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyUsersId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMyUsersId" message="tns:IService1_GetMyUsersId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMyUsersIdResponse" message="tns:IService1_GetMyUsersId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMessages" message="tns:IService1_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMessagesResponse" message="tns:IService1_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTimeMessages" message="tns:IService1_GetTimeMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTimeMessagesResponse" message="tns:IService1_GetTimeMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogUser" message="tns:IService1_LogUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogUserResponse" message="tns:IService1_LogUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLog">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckNickName">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckNickName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp_NewUser">
      <soap:operation soapAction="http://tempuri.org/IService1/SignUp_NewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAccount">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPass">
      <soap:operation soapAction="http://tempuri.org/IService1/ForgotPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserIsOffline">
      <soap:operation soapAction="http://tempuri.org/IService1/SetUserIsOffline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserIsOnline">
      <soap:operation soapAction="http://tempuri.org/IService1/SetUserIsOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyUserId">
      <soap:operation soapAction="http://tempuri.org/IService1/MyUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToUserId">
      <soap:operation soapAction="http://tempuri.org/IService1/ToUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanCreateAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/CanCreateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToUsersId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetToUsersId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyUsersId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMyUsersId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeMessages">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTimeMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogUser">
      <soap:operation soapAction="http://tempuri.org/IService1/LogUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64409/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>